body {
    font-family: Inter,  sans-serif; /* Rodzina czcionek */
    font-size: 30px; /* Rozmiar głównej czcionki w <p></p> tag  */
    background-color: #ffffff; /* Kolor tła strony internetowej */
    color: #484848; /* Kolor tła strony internetowej*/ 
}
@keyframes color-change {
    0% {
      color: rgb(255, 0, 0);
    }

    20% {
      color: rgb(255, 225, 0);
    }

    40% {
      color: rgb(0, 255, 26);
    }
    60% {
        color: blue;
      }
  
    80% {
        color: rgb(174, 0, 255);
      }
  
    100% {
        color: rgb(255, 0, 25);
      }
  }



h1 { animation: color-change 3s infinite; } 
